.main-card{
    background-color: white;
    width: 480px;
    height: 256px;
    border-radius: 20px;
}

.main-card span{
    color: #858585;
    font-size: 12px;
    font-weight: 400;
}

.items{
    font-size: 14px;
    font-weight: 700;
    color: black;
}